@charset "utf-8";
/* CSS Document */

*{box-sizing:border-box;}

body{
margin-left:0px;
margin-top:0px;
margin-right:0px;
margin-bottom:0px;
background-attachment: fixed;
background-color:#CCC;
background-image: url("images/pexels-steve-johnson-1509534.jpg");
background-repeat: no-repeat;
background-position: center center;
background-size:cover;}



#container{
	width:800px;
	height:1600px;
	padding:3%;
	background-color:rgba(255,255,255,0.84);
	margin:0 auto;}
